<div id="slideshow">
    <div class="slide-wrapper">
        <div class="slide">
            <h1 class="slide-1">
                <img src="images/header/header_1.png" width="100%">
            </h1>
        </div>
        <div class="slide">
            <h1 class="slide-2">
                <img src="images/header/header_2.png" width="100%">
            </h1>
        </div>
    </div> 
</div>
    
<div class="header-buttons">
    <div class="btn-group">   
        <a href="/aboutus"><button class="dropbtn">&#128227 ABOUT US</button></a>
        <a href="/biddingrules"><button class="dropbtn">&#10071 BIDDING RULES</button></a>
        <a href="/popularsearchlanding"><button class="dropbtn">&#9889 POPULAR</button></a>
    </div> 
</div>