<%- include("partials/header") -%>
<%- include("partials/slideshow") -%>

<div class="about-container">
    <div class="about">
        <div class="about-title">Wassup, fellow Lasallian!</div>
        <div class="about-description">
                
            We're Group 29 of CCAPDEV S11's class. With the decline in popularity of <b>DLSU Bids to Pick’s Facebook group</b> and the comeback of F2F classes, this website aims to revamp how the system works and hopefully bring back its traction in the Lasallian community. Integrating Bids to Pick to a fully operational website aims to ease the process of bidding and selling items while ensuring the transactions are safe and secure through the different features listed below: 
            <p></p>
            <p><b>User Account (Log-in, log-out, register)</b> - DLSU students can register to the site. </p>
            <p><b>User Profile (create, read, update, delete)</b> - Users can be buyers and/or sellers on this website. Each user will be able to upload a profile picture and update their bio description. They will also be able to post listings on their profile with photos and descriptions, and comments from the public audience will also be available. The feature to delete their posts from the website will also be available.</p>
            <p><b>Home Page</b> - Will display recent item listings from different users. </p>
            <p><b>Search</b> - Will be used to help other users find what they are looking for in Bids to Pick.  </p>
            <p></p><p></p>
            <b>Happy bidding!</b>
        </div>
    </div>
</div>
<%- include("partials/footer") -%>