<%- include("partials/header") -%>
<%- include("partials/slideshow") -%>
            <div class="about-container">
                <div class="about">
                    <div class="about-title">BIDDING RULES</div>
                    <div class="about-description">
                            
                        <b>Before continuing on with DLSU Bids to Pick, please take the time to read through the rules we’ve set for the community.</b>

                        <p></p>
                        <p><b>WHEN POSTING A BID: </b></p>
                        <p>1. Please provide all the necessary details needed in your post.</p>
                        <p>2. Once you've posted your bid, you cannot edit it. You may only delete the post. </p>
                        <p>3. Ensure your post is engaging as others may like your bid and this could help your item gain more popularity in the community.</p>
                        <p>4. Please stay active when you have an ongoing bid so there won’t be delays for the final exchange.</p>

                        <p></p>
                        <p><b>WHEN BIDDING ON AN ITEM: </b></p>
                        <p>1. Read through the details provided by the seller.</p>
                        <p>2. When you're interested in a bid, comment down your fair price. </p>
                        <p>3. Follow the increment procedures and end dates of the bidding.</p>
                        <p>3. When the end date of the bidding has been reached, please be on standby for you to know if you’re the highest bidder. </p>
                        <p>4. If you find an item interesting, feel free to like the post to boost it in popularity!</p>

                       
                        <p></p><p></p>
                        <b>Happy bidding!</b>
                    </div>
                </div>
            </div>
<%- include("partials/footer") -%>