<%- include("partials/header") -%>
    <div class="profile-container">
        <div class="register-title">  
            Edit Profile<hr>
        </div>

        <form action="/saveresetpassword" method="POST" >
            <div class="userdetails">
                <%=resetPrompt%>
                <div class="inputbox">
                    <span class="inputdetails"> Enter Password </span>
                    <input name="pw1" type="password" required>
                </div>
                <div class="inputbox">
                    <span class="inputdetails"> Retype Password </span>
                    <input name="pw2" type="password" required>
                </div>
                <div class="savebutton">
                    <input type="submit" value="Save">
                </div>
                or <a href="/profileedit">go back</a>
            </div>
        </form>
    </div>
<%- include("partials/footer") -%>
